/*몸무계*/
main {background:skyblue;
    width:500px; height:300px; margin:0 auto;
    border:3px solid #000;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    padding-top:30px;
}
main h1 {
    width:300px; height:50px;
    border:2px solid #000;
    text-align:center;
    font-weight:600;
    font-size:2rem;
    padding-top:5px;
}
main .scale {background:green;
    width:300px;
    display:flex; 
    flex-flow:column nowrap;
    padding-bottom:20px;
}
/*----------------------------------------*/
main .scale .scale_w {
    margin:20px 20px;
}
main .scale .scale_w #result1 {
    height:30px;
}
main .scale .scale_w #weight_btn {
    width:35px; height:35px;
    border-radius:20%;
}
/*-----------------------------------*/
main .scale .scale_h {
    margin:0 20px;
}
main .scale .scale_h #result2 {
    height:30px;
}
main .scale .scale_h #height_btn {
    width:35px; height:35px;
    border-radius:20%;
}
/*----------------------------------*/
main h2 {
    margin-top: 30px;
    font-size:1.333rem;
}
main h2 span {font-weight: 600;}
main h2 em {font-weight: 600;}
/*-----------------------------------------------------*/