main {
	/* background:url(../imges/beach-gbc5ae8bb7_1280.jpg) no-repeat; */
	width:1000px; height:800px; margin:0 auto;

	border:10px solid #000;
	border-radius:50px;
}
main .dan {
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	
}
main .dan h1 {
	font-size:2.555rem;
	/* color:#fff; */
	color:#000;
	font-weight: 700;
	margin:80px 0;
}
main .dan h2 {
	font-size:2rem;
	color:#000;
	/* color:#fff; */
	margin-bottom:20px;
}
main .dan .dan_content {
	/* background: linear-gradient(180deg, rgba(112,125,75,0.3) 0%, rgba(180,178,2,0.3) 100%); */
	padding:30px 30px;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	margin-top:15px;
    border-radius:20px;
}
main .dan .dan_content #first_n {
	height:50px; 
	font-size:2rem;
	text-align: center;
}
main .dan .dan_content p {
	font-size:4rem;
	/* color:#fff; */
	color:#000;
	margin-bottom:20px;
}
main .dan .dan_content #second_n {
	height:50px;
	font-size:2rem;
	text-align: center;
}
main .dan .dan_content #btn {
	margin-top:50px;
	padding:20px;
	/* background:#fff; */
	background: #aaa;
	border:3px solid black;
	border-radius:60px;
}
main .dan .dan_content #btn:hover {background:orange;}
/*----------------------*/
main .correct {margin:40px;}
main .correct .answer_correct {
	font-weight:700;
	font-size:2rem;
	/* color:azure; */
	color:#aaa;
}